.carousel {
  width: 100%;
  max-width: var(--content-width);
  position: relative;

  background: var(--color-bg-translucent-light);
  border-radius: var(--border-radius-lg);
  backdrop-filter: blur(var(--blur-intensity-md));
  box-shadow: var(--shadow-component-lg);

  overflow: hidden;
}

.carousel-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.carousel-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  transition: 0.5s ease;
}

.carousel-slide:hover .carousel-bg {
  filter: brightness(0.5);
}

.carousel-card {
  position: absolute;
  bottom: 15px;
  right: 15px;

  background: var(--color-bg-card-hover);
  padding: 0.6rem 1.2rem;

  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 1rem;

  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-component-md);

  z-index: 2;
}

/* Indicadores */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 8px;
}

.sc-indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s ease;
}

.sc-indicator.active {
  background-color: var(--color-primary);
  transform: scale(1.25);
}
