.homepage-inner {
  width: 100%;
  max-width: 1100px; /* controla ancho consistente */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#descripcion {
  scroll-margin-top: 130px;
  margin-top: 6.1rem;
}